@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

*{
    font-family: 'poppins'
}

@theme{
    --color-regal-blue: #578FCA; 
    --color-second: #3674B5; 
    --color-third: #A1E3F9; 
    --color-light: #D1F8EF; 
}

.active hr{
    @apply block
    
}

::-webkit-scrollbar{
    @apply hidden
}

@media (max-width:740px){
    .active p{
        @apply text-white bg-blue-400
    }
}